.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 🔥 Estilo para Modo Claro */
.light {
  background-color: #c5d4d0 !important;
  color: #212529 !important;
}

.light table {
  background-color: #fff !important;
}

.light .table th {
  background-color: #007bff !important;
  color: white !important;
}

.light .btn {
  background-color: #007bff;
  color: white;
}

.light .btn:hover {
  background-color: #0056b3;
}

/* 🔥 Estilo para Modo Oscuro */
.dark {
  background-color: #121212 !important;
  color: white !important;
}

.dark table {
  background-color: #1e1e1e !important;
}

.dark .table th {
  background-color: #007bff !important;
  color: white !important;
}

.dark .btn {
  background-color: #007bff;
  color: white;
}

.dark .btn:hover {
  background-color: #0056b3;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.task-buttons {
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}